.cajitaAtencion{
    background-color: var(--azulClaro2);
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 0px;
   
text-align: center;
color: #000000;
box-shadow: 10px 10px 10px rgb(85, 84, 84);
scale: 1.2;

}
.sendData{
    max-width: 400px;
    margin: 20px auto;
  }

.sendData label, select {
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;

  }

  .sendData select {
    
    font-family: 'Aleo', serif;
    background-color: var(--azulmuyClaro);
    
  }

  .sendData button{
    background-color: var(--azulverdoso);
    color: var(--azulmuyClaro);
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
  font-family: 'Aleo', serif;

  }

  .sendData button:hover{
    background-color: var(--azulClaro);
    color: var(--moradoOscuro);
  }
  
  /* Estilos del Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 300px;
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    background: var(--azulmuyClaro);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .modal-content button{
    background-color: var(--azulverdoso);
    color: var(--azulmuyClaro);
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
font-family: 'Aleo', serif;

  }

  .modal-content button:hover{
    background-color: var(--azulClaro2);
    color: var(--moradoOscuro);
  }

  