<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Proyecto" content="Log in">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <p> Aquí va el slider c:</p>
        </div>
        <div class="right">
            <div class = "nameandlogo">
                <img src="../assets/img/logo.png">
                <h1>
                    GlucoTrack
                </h1>
            </div>

            <div class = "form">
                <div class="expl">
                    <h1>
                        Iniciar sesión
                    </h1>
                    <p>
                        Ingresa con tu correo y tu contraseña.
                    </p>
                    <br>
    
                </div>

                <form name="logIn" action="../index.html" method="">
                    <label for="email">
                        E-mail
                    </label>
                    <input type="email" name="email" id="email">
                    <br>
                    <br>

                    <label for="passw">Contraseña</label>
                    <input type="password" name="pass" id="password">

                </form>
                <a href="#">¿Olvidaste la contraseña?</a>
            </div>
            <div class = "bottomLogin">
                <div>
                    <input type="checkbox" id="remindMe" value="remindMe">
                    <label for="remindMe">Recordarme</label>
                </div>
                
                    <a href="./home.html">
                        Iniciar Sesión
                    </a>
                
            </div>
            <div class="noAcc">
                <p>¿No tienes una cuenta aún? <a href="signup.html">Regístrate aquí</a></p>
            </div>
            
        </div>
    </div>
</body>
</html>