<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Proyecto" content="signup">
    <title>Crear una cuenta</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <p> Aquí va el slider c:</p>
        </div>
        <div class="right">
            <div class = "nameandlogo">
                <img src="../assets/img/logo.png">
                <h1>
                    GlucoTrack
                </h1>
            </div>

            <div class = "form">
                <div class="expl">
                    <h1>
                        Crear una cuenta
                    </h1>
                    <p>
                        Ten acceso completo a nuestros servicios creando una cuenta.
                    </p>
    
                </div>
                
                <form name="signup" action="../index.html" method="">
                    <label for="name">
                        Nombre
                    </label>
                    <input type="text" name="name" id="name">
                    <br>
                    <br>
                    <label for="email">
                        E-mail
                    </label>
                    <input type="email" name="email" id="email">
                    <br>
                    <br>
                    <label for="age">
                        Edad
                    </label>
                    <input type="number" name="edad" id="age" min="1">
                    <br>
                    <br>
                    <label for="pais">
                        País
                    </label>
                    <select id = "pais" nombre = "pais">
                    <option value="0" selected="">
                        Selecciona un país
                    </option>
                    <option value="Colombia">
                        Colombia
                    </option>
                    <option value="Venezuela">
                        Venezuela
                    </option>
                    <option value="Ecuador">
                        Ecuador
                    </option>
                    <option value="Peru">
                        Perú
                    </option>
                    <option value="Mexico">
                        México
                    </option>
                </select>
                    <br>
                    <br>

                    <label for="passw">Contraseña</label>
                    <input type="password" name="pass" id="password">

                </form>
                <a href="#">¿Olvidaste la contraseña?</a>
            </div>
            <div class = "bottomLogin">
                <div>
                    <input type="checkbox" id="remindMe" value="remindMe">
                    <label for="remindMe">Recordarme</label>
                </div>
                
                    <button>
                        Iniciar Sesión
                    </button>
                
            </div>
            <div class="noAcc">
                <p>¿Ya tienes una cuenta? <a href="#">Iniciar Sesión</a></p>
            </div>
            
        </div>
    </div>
</body>
</html>