.container{
    display: flex;
    width: 100%;
    height: 150vh;
}



.left{
    flex: 40%;
    background-color: var(--azulverdoso);
    margin-left: -150px;
}

.right{
    flex: 60%;
    background-color: var(--azulmuyClaro);
    
    font-family:'Aleo', serif;

}

.form{
    justify-content: center;
    align-items: center;
    margin: 5% 15% 5% 20%;
   
    

}

.expl{
    padding-top: 50px;
    padding-bottom: 10px;
}

.expl h1{
    font-size: 35px;
    padding-bottom: 30px;
    font-weight: 600;
    
}
.expl p{
    font-size: 16px;;
}


.bottomLogin{
    justify-content: space-between;
    align-items: center;
    
    margin: 30px 100px 10px 100px;
    display: flex;
    
    
}
.bottomLogin label{
    font-size: 16px;
    
}

.bottomLogin input[type="checkbox"]{
    width: 16px;
    height: 16px;
    border-color: var(--azulverdoso);
}

.bottomLogin input[type="checkbox"]:checked{
    background-color: var(--azulverdoso);
    border-color: var(--azulverdoso);
}
.bottomLogin a {
    background-color: var(--azulverdoso);
    color: var(--azulmuyClaro);
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.bottomLogin a:hover {
    background-color: var(--azulClaro2);
    color: var(--moradoOscuro);
}

#terminos{
    color: var(--azulverdoso);
    text-decoration: underline;
}
.noAcc{
    margin: 30px 100px 90px 100px;
    text-align: center;
}

.noAcc p{
    font-size: 16px;
}

.noAcc a{
    color: var(--azulverdoso);
    text-decoration: underline;
}