.subheader{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20%;
    color: #ffffff;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 2em;
}

.ContenidoSubheader {width: 100%;
    height: 100%;
    background-color: rgba(55, 149, 189, 0.6);
    height: 120px;
    padding: 50px 20px 10px 90px;
    color: #ffffff;
}



.Icon {
    float: left;
    height: 82px;
    margin: 3em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContenidoSubheader h2{
    margin-top: 1em;
}