.historial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.grafica{
    width: 700px !important;
}

.changeGrafico{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.changeGrafico button{
    width: 100px !important;
    height: 50px;
    border-radius: 25px;
    font-size: large;
    font-weight: bold;
}

.default{
    
        
    background-color: var(--azulclaro3);
    color: var(--morado);

}

.active{
    background-color: var(--azulverdoso);
    color: white;
}



.changeGrafico button:hover{
    background-color: var(--azulClaro2) !important;
    color: var(--morado);
    
}

.resumen{
    background-color: white;
    padding: 1.5%;
    padding-top: 40px;
    border-radius: 25px;
    width: 400px;
    text-align: center;
    color: var(--morado);
    box-shadow: 10px 10px 10px 10px rgb(142, 140, 140);
    scale: 1.2;
}

@media (max-width: 768px) {
    .historial{
        flex-direction: column;
        
    }

    .changeGrafico{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}