.cardAlimento {
    position: relative;
    width: 250px; 
    height: 250px; 
    background-size: cover;
    background-position: center;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(0.5px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  }


.cardAlimento::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 194, 255, 0.6);
    border-radius: 11px;
 }


.Alimento {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

h2 {
    margin: 0;
  }