
:root{
    --azulprimario: #2F58CD;
    --azulverdoso: #3795BD;
    --moradoOscuro: #3A1078;
    --morado: #4E31AA;
    --azulClaro1: #42C2FF;
    --azulClaro2: #85F4FF;
    --azulclaro3: #B8FFF9;
    --azulmuyClaro: #EFFFFD;
    --nivelNormal: #468B97;
    --nivelAlto: #EF6262;
    --nivelBajo: #F3AA60;
}


.subheaderPerfil{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://img.freepik.com/vector-premium/usuario-datos-informacion-personal-o-simbolo-detalles-tarjeta-perfil-tarjeta-identificacion-datos-informacion-personal-documento-identidad-foto-persona-imagenes-predisenadas-texto-ilustracion-vector-diseno-plano_662353-744.jpg?w=2000');
    background-position: 0% 40%;
    color: #ffffff;
    height: 180px;
    overflow-x: hidden;
    overflow-y: hidden;
}


.subheaderNuevaMedida{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://www.elfinanciero.com.mx/resizer/1_D3KiQLeaeJyqv7bmI5yJqMdK4=/1200x630/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/elfinanciero/3T56UJDU6JDU3FSPWHXS7BLJMY.jpeg');
    background-position: 0% 40%;
    color: #ffffff;
    height: 180px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.ContenidoSubheader {width: 100%;
background-color: rgba(55, 149, 189, 0.6);
padding: 50px 20px 10px 90px;
height: 120px;}

.subheaderNuevaMedida img{float: left;
height: 82px;
margin: 55px 20px 20px 30px;
}

.subheaderPerfil img{float: left;
    height: 82px;
    margin: 55px 20px 20px 30px;
    }




.formRegistro {margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-radius: 25px;
    background-color: var(--azulprimario);
text-align: center;
color: #ffffff;
box-shadow: 10px 10px 10px var(--morado);
scale: 1.2;}

.input-Nivel {width: 50px; text-align: center;}

input {border-radius: 8px;
border: none;}

input:focus {border: none;
outline: none;}

.BotonAnimoBien {background-color: #468B97;
outline: none;
border: none;
height: 20px;
width: 20px;
border-radius: 50%;box-shadow: 3px 3px 3px;}

.BotonAnimoRegular {background-color: #F3AA60;
    outline: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;box-shadow: 3px 3px 3px;}

.BotonAnimoMal {background-color: #EF6262;
    outline: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;box-shadow: 3px 3px 3px;}

.botonRegistrar{font-family: 'Aleo', serif;
background-color: #468B97;
outline: none;
border: none;
padding: 5px;
border-radius: 10%;
color: #ffffff; font-size: large;}

select {font-size: medium;
border-radius: 8px;}

select:focus{outline: none;}

.seccionDatospersonales {
    margin-left: 5%;
    margin-right: 5%;
    width: 89%;
    color: white;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 25px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flow-root;
}

.seccionDatospersonales a{
    float: right;
    border-radius: 8px;
    background-color: #3A1078;
    width: 60px;
    text-align: center;
    color: #ffffff;
    padding: 5px;
}

.seccionDatospersonales a:hover {
    background-color: var(--azulprimario);
    color: white;
    transform: var(--azulprimario);
    transition: all 0.3s;
}

.datosPersonales {background-color: #468B97;
    width: 50%;
    padding: 20px;
    border-radius: 25px;
margin-top: 20px;
margin-bottom: 20px;}

.seccionDatospersonales input {
    margin-left: 50px;
    width: 150px;
    padding: 5px;
    font-family: 'Aleo', serif;;
}

.seccionDatospersonales input::placeholder{
    color: #EFFFFD;
    opacity: 0.9;
}

.seccionDatospersonales input:enabled::placeholder{
    color: black;
}



.datosMedicamentos {background-color: #468B97;
    width:45%;
    padding: 20px;
    border-radius: 25px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
float: right;}



.seccion1Datos {display: flex;}


.Medicamento {
    padding-top: 10px;
}

.listaMedicamentos {display:flex;
}

.elementoListaMedicamentos {margin-left: 2%;
margin-top: 10px;
background-color: #4E31AA;
padding: 5px;
border-radius: 8px;}