@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;900&display=swap');
*{
    margin: 0px;
}
:root{
    --azulprimario: #2F58CD;
    --azulverdoso: #3795BD;
    --moradoOscuro: #3A1078;
    --morado: #4E31AA;
    --azulClaro1: #42C2FF;
    --azulClaro2: #85F4FF;
    --azulclaro3: #B8FFF9;
    --azulmuyClaro: #EFFFFD;
    --nivelNormal: #468B97;
    --nivelAlto: #EF6262;
    --nivelBajo: #F3AA60;

    --grisShadows: #707070;
}


body {
    font-family: 'Aleo', serif;
    margin: 0;
    padding: 0;

}

h1{
    font-size: 45px;
}
 a {
    text-decoration: none;
 }
.header {
    background-color: var(--azulprimario);
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}


.logo img {
    width: 70px;
    padding-left: 10px;

}

.title h1 {
    
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
}

.logButtons {
    display: flex;
    gap: 10px;
    margin-right: 10px; 
    margin-left: auto;/* Margen a la derecha para separar los botones del borde derecho del encabezado */
}

.logButtons a {
    background-color: var(--azulClaro1);
    color: white;
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.logButtons a:hover {
    background-color: var(--azulClaro2);
    color: var(--moradoOscuro);
}



.navbar{
    background-color: var(--azulprimario);
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
}

.nav-link {
    margin: 0;
    width: 200px;
    height: 40px;
    text-align: center;
}

.nav-link a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border: 1px solid transparent;
    /*border-radius: 5px;*/

}
/*Para cuando se esté en la pagina acual*/
.nav-linkOn a {
    background-color: var(--azulClaro2);
    color: var(--morado);
}
/*
.nav-linkOn a:hover{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border: 1px solid transparent;
}*/

.nav-link a:hover {
    background-color: var(--azulClaro2);
    color: var(--morado);
}

.content{
    margin: 20px 20px 20px 20px;
    height: 150vh;
    
    
    
}

.content h1{
    text-align: center;
    color: var(--morado);
    font-weight: bold;
}

.services{
    display: flex;
    margin: 20px 20px 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.cajaprincipal{
    width: 270px;
    height: 350px;
    background-color: var(--azulClaro1);
    color: #ffffff;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 5px #707070;
    /*overflow: hidden;*/
    border-radius: 20px;
}

.caja2{
    background-color: var(--azulprimario);
    

}

.info {
    padding: 25px;
}

.info img{
    width: 90px;
    margin-bottom: 10px;
}

.info h3{
    font-size: 25px;
    margin: 10px 0;
    min-height: 60px;
}

.info p{
    margin: 0;
    flex-grow: 1; /* Hace que el párrafo ocupe todo el espacio vertical restante */
    display: flex;
    align-items: center;
}


/*para el popover*/
.popover-wrapper{
    padding: 10px;
    text-align: center;
}

.popover-content{
    opacity: 0;
    visibility: hidden;
    transform: translate(0,5px);
    background-color: var(--azulmuyClaro);
    color: var(--moradoOscuro);
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    width: auto;
}

.popover-wrapper a{
     /* Hace que el párrafo ocupe todo el espacio vertical restante */
    
    color: white;
    margin: 0;
}



.popover-content::before{
    top: -30px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover-wrapper:hover .popover-content{

    
    opacity: 1;
    visibility: visible;
    transform: translate(0, -2px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.prop{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.prop h2{
    color: var(--moradoOscuro);
    padding: 20px;
}

.prop a {
    background-color: var(--azulClaro1);
    color: white;
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.prop a:hover {
    background-color: var(--azulClaro2);
    color: var(--moradoOscuro);
}

/*LOG IN Y SIGN UP CONTAINERS*/
.container{
    display: flex;
    width: 100%;
    height: 150vh;
}

.container-signup{
    display: flex;
    width: 100%;
    height: 400vh;
}

.left{
    flex: 40%;
    background-color: var(--azulverdoso);
    margin-left: -150px;
}
/* Centrar el carrusel */
#carouselExampleCaptions {
    display: block;
    margin: 0 auto;
    padding: 100px 50px 50px 50px;
  }
  
  .carousel-inner {
    text-align: center;
  }
  .carousel-inner .carousel-item img {
    opacity: 0.5; /* Ajusta el valor de opacidad según tus preferencias */
  }
  
  
  
  /* Cambiar la fuente del texto dentro del carrusel */
  #carouselExampleCaptions .carousel-caption h5{
    font-family: 'Aleo', serif;
    font-weight: 700;
  }
  #carouselExampleCaptions .carousel-caption p {
    font-family: 'Aleo', serif; /* Reemplaza 'Aleo' con tu fuente deseada */
  }
  
  /* Alinear el texto del carrusel al centro */
  #carouselExampleCaptions .carousel-caption {
    text-align: center;
  }
  

.right{
    flex: 60%;
    background-color: var(--azulmuyClaro);
    margin-right: -150px;
    font-family:'Aleo', serif;

}

.espacio{

    height: 80px;
}
.nameandlogo{
    padding: 10px 10px 10px 10px;
    display: flex;
    border-bottom: 2px solid var(--azulverdoso);
}

.nameandlogo img {
    width: 80px;
    display: flex;
    justify-content: center;
    
    

}

.nameandlogo h1 {
    
    font-weight: 600;
    margin-top:20px;
    font-size: 35px;
    margin-left: 10px;
    color: var(--morado);
}

.form{
    justify-content: center;
    align-items: center;
    
    margin: 10px 100px 10px 100px;
    padding-bottom: 80px;
    border-bottom: 2px solid var(--azulverdoso);
    

}

.expl{
    padding-top: 50px;
    padding-bottom: 10px;
}

.expl h1{
    font-size: 35px;
    padding-bottom: 30px;
    font-weight: 600;
    
}
.expl p{
    font-size: 16px;;
}

.form form{
    font-size: 16px;
    text-align: left;
    width: 100%;
    max-width: 700px;
    
    
}

.form label{
    padding-right:20px;
    padding-bottom: 10px;
    display: inline-block;
    width: 200px;
    
}

.form input[type="text"]{
    width: 430px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}
.form input[type="email"]{
    width: 430px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}
.form input[type="password"]{
    width: 430px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}
.form select{
    width: 430px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
    background-color: white;
}
.form option{
    width: 430px;
    height: fit-content;
    font-family: 'Aleo', serif;
    font-size: 16px; 
    
}

.form input[type="number"]{
    width: 70px;
    height: fit-content;
    border-radius:15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}

.form a{
    color: var(--azulverdoso);
    text-align: right;
    font-size: 16px;
    text-decoration: underline;
}
.insulinas p{
    padding-bottom: 10px;
}

.ifInsulina{
    display: flex;
    justify-content: space-between;
}

.ifInsulina input{
    width: 130px !important;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}

.ifInsulina select{
    width: 130px ;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}

.ifInsulina option{
    height: fit-content;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}

.meds{
    padding-top: 10px;
}
.ifMeds{
    
    justify-content: space-between;
}

.bottomLogin{
    justify-content: space-between;
    align-items: center;
    
    margin: 30px 100px 10px 100px;
    display: flex;
    
    
}
.bottomLogin label{
    font-size: 16px;
    
}

.bottomLogin input[type="checkbox"]{
    width: 16px;
    height: 16px;
    border-color: var(--azulverdoso);
}

.bottomLogin input[type="checkbox"]:checked{
    background-color: var(--azulverdoso);
    border-color: var(--azulverdoso);
}
.bottomLogin a {
    background-color: var(--azulverdoso);
    color: var(--azulmuyClaro);
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.bottomLogin a:hover {
    background-color: var(--azulClaro2);
    color: var(--moradoOscuro);
}

#terminos{
    color: var(--azulverdoso);
    text-decoration: underline;
}
.noAcc{
    margin: 30px 100px 90px 100px;
    text-align: center;
}

.noAcc p{
    font-size: 16px;
}

.noAcc a{
    color: var(--azulverdoso);
    text-decoration: underline;
}
/*HASTA AQUI VAN LOG IN Y SIGN UP CONTAINERS*/


.homeContent{
    width: 100%;
    height: 150vh;
    margin: 30px ;
    text-align: center;
}


/*Para el footer dejar abajo para mas organizaciooon*/

.footer{
    background-color: var(--azulprimario);
    color: white;
    padding:20px;
    display: flex;
    justify-content: space-between;
    /*position: fixed; /* Fija el footer en la parte inferior de la ventana del navegador
    left: 0;
    right: 0;
    bottom: 0;*/
    margin-top: auto;
    width: 100%;

}

.aligned-footer {
    /* Añade los estilos específicos para este footer aquí */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    margin-right:10px;
} 

.footer p{
    font-size: 14px;
}

.footer-left {
    flex:1;
    text-align: left;

}

.contact {
    flex: 10;
    text-align: left;
    margin-left: 10px;

}

.footer-right{
    padding-bottom: 20px;
    text-align: right;
}

