@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;900&display=swap');
*{
    margin: 0px;
}
:root{
    --azulprimario: #2F58CD;
    --azulverdoso: #3795BD;
    --moradoOscuro: #3A1078;
    --morado: #4E31AA;
    --azulClaro1: #42C2FF;
    --azulClaro2: #85F4FF;
    --azulclaro3: #B8FFF9;
    --azulmuyClaro: #EFFFFD;
    --nivelNormal: #468B97;
    --nivelAlto: #EF6262;
    --nivelBajo: #F3AA60;
}


body {
    font-family: 'Aleo', serif;
    margin: 0;
    padding: 0;

}

.header {
    background-color: var(--azulprimario);
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.logo img {
    width: 100px;

}

.title h1 {
    font-size: 45px;
    margin: 0;
    margin-left: 10px;
}

.logButtons {
    display: flex;
    gap: 10px;
    margin-right: 10px; 
    margin-left: auto;/* Margen a la derecha para separar los botones del borde derecho del encabezado */
}

.logButtons button {
    background-color: var(--azulClaro1);
    color: white;
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.logButtons button:hover {
    background-color: var(--azulClaro2);
    color: var(--moradoOscuro);
}


.navbar{
    background-color: var(--azulprimario);
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
}

.nav-link {
    margin: 0;
    width: 200px;
    height: 40px;
    text-align: center;
}

.nav-link a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border: 1px solid transparent;
    /*border-radius: 5px;*/

}

.nav-link a:hover {
    background-color: var(--azulClaro2);
    color: var(--morado);
}

.content{
    margin: 20px 20px 20px 20px;
    display: flex;
    
}

.services{
    justify-content: space-between;
}

.cajaprincipal{
    width: 270px;
    height: 350px;
    background-color: var(--azulClaro1);
    color: #ffffff;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 10px #000000;
    overflow: hidden;
    border-radius: 20px;
}

.caja2{
    background-color: var(--azulprimario);
    

}

.info {
    padding: 10px;
}