body{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: black;
}

.content{
    margin: 20px 20px 20px 20px;
    height: 100vh;
}

.content h1{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: var(--morado);
    font-weight: bold;
}

.services{
    display: flex;
    margin: 20px 20px 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.caja2{
    background-color: var(--azulprimario);
    

}