
.form form{
    font-size: 16px;
    text-align: left;
    width: 100%;
    max-width: 700px;
    padding-bottom: 80px;
    border-bottom: 2px solid var(--azulverdoso) !important;
    
    
}

.form label{
    padding-right:20px;
    padding-bottom: 10px;
    display: inline-block;
    width: 200px;
    
}

.form input[type="text"]{
    width: 430px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}
.form input[type="email"]{
    width: 430px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}
.form input[type="password"]{
    width: 430px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid var(--azulverdoso);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Aleo', serif;
    font-size: 16px; 
}

.form a{
    
    color: var(--azulverdoso);
    text-align: right;
    font-size: 16px;
    text-decoration: underline;
}